body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.posts {
    width: 45%;
}

.posts h2 a {
  color: #000000;
  text-decoration: none;
}

#tagcloud {
  position: relative;
  height: 350px;
  width: 550px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width:
480px) {

.posts {
    width: 100%;
}

body {
   margin: 0;
   padding: 15px;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
   to(#fff));
   -webkit-text-stroke: 0.1px #fff;
   -moz-text-stroke: 0.2px #fff;
   color: #333; }


#tagcloud {
  position: relative;
  height: 350px;
  width: 350px;
}